body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    padding: 0 20px;
}

form {
    background-color: #ffffff;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4c82af;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4574a0;
}
button {
    background-color: #007BFF; /* Couleur de fond bleue */
    color: white; /* Couleur de texte blanche */
    border: none; /* Supprime la bordure */
    padding: 10px 20px; /* Ajoute du padding */
    text-align: center; /* Centre le texte */
    text-decoration: none; /* Supprime le soulignement */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Change le curseur en main lorsque vous survolez le bouton */
    border-radius: 4px; /* Ajoute des coins arrondis */
}

